[submodule "pe-sieve"]
	path = deps/pe-sieve
	url = https://github.com/hasherezade/pe-sieve.git
[submodule "paramkit"]
	path = deps/paramkit
	url = https://github.com/hasherezade/paramkit.git
[submodule "krabsetw"]
	path = deps/krabsetw
	url = https://github.com/microsoft/krabsetw.git
